<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>DRY in Angular Templates: Content Projection im Praxiseinsatz</title>

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/reveal.css" />
    <link rel="stylesheet" href="css/theme/night.css" />

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="plugin/highlight/monokai.css" />

    <!-- Custom styling and tweaks -->
    <link rel="stylesheet" href="css/style.min.css" />

    <!-- Plugins -->
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/notes/notes.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
  </head>
  <body>
    <div class="reveal">
      <div class="footer">
        <span>CodeDaysDigital 2021</span>
        <span>Martin Grotz - martin.grotz@mathema.de - @mobilgroma</span>
        <span>MATHEMA GmbH</span>
      </div>

      <div class="slides">
        <section>
          <div class="flex-column align-centered">
            <h2 style="font-size: 2.75rem;">DRY in <span style="color:red;">Angular</span> Templates</h2>
            <h3 style="font-size: 2.25rem; margin-top: 2rem;"><span style="color:red;">Content Projection</span> im Praxiseinsatz</h3>
            <h3 style="font-size: 1.5rem; margin-top: 4rem;">Martin Grotz</h3>
            
              <div style="width: 50%;">
              <div class="flex align-centered centered bg-white" style="margin: 1rem;">
                <img src="img/mathema-logo.svg" alt="Mathema Logo">
                <img src="img/Code_Days_Digital_Logo_2021.png" alt="CodeDaysDigital 2021 Logo">
              </div>
            </div>
          </div>

          <aside class="notes"></aside>
        </section>

        <section>
          
          <div>
            <h3>Angular</h3>

            <div class="flex">
              <div>
                <img src="img/angular.png" />
              </div>

              <ul>
                <li class="fragment">Open-source Framework</li>
                <li class="fragment">Webtechnologien & TypeScript</li>
                <li class="fragment">Multi-target: WebApps, MobileApps, SSR</li>
                <li class="fragment">Komponentenorientiert</li>
                <li class="fragment">Dependency Injection</li>
                <li class="fragment">Automatische Change Detection</li>
              </ul>
            </div>
          </div>
          <aside class="notes">
            <ul>
              <li>
                Multi-target: Webapps, Server-side rendering, Mobile Apps via
                Ionic
              </li>
              <li>Besteht hauptsächlich aus drei Bausteinen (siehe nächste Folie)</li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Angular Bausteine</h3>
          <pre  class="fragment" data-fragment-index="1"><code class="typescript" data-trim data-noescape><span class="fragment" data-fragment-index="1">@Directive({selector: '[bold]'})
export class SomeDirective {
    bold: boolean = false;
}</span>

<span class="fragment" data-fragment-index="2">@Injectable()
export class SimpleService {
    public shouldBeBold = true;
}</span>

<span class="fragment" data-fragment-index="3">@Component(
    {
        selector: 'app-my-component',
        template: `
        &lt;h1&gt;My Component&lt;/h1&gt;
        &lt;p&gt;This text can be bold (or not)?&lt;/p&gt;
        `
    }
)
export class MyComponent {}</span>
          </code></pre>

          <aside class="notes">
            <ul>
              <li>
                Angular-Anwendung besteht aus drei Sachen:
                <ul>
                  <li>
                    Komponenten, die als View für die Darstellung zuständig sind
                  </li>
                  <li>
                    Direktiven, die das Verhalten von Komponenten beeinflussen
                  </li>
                  <li>
                    Services, die für Datenhaltung und -austausch zuständig sind
                  </li>
                </ul>
              </li>
              <li>
                Angular macht viel über Decorators: Aspektorientierte
                Programmierung
              </li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Dependency Injection & Input</h3>
          <pre><code class="typescript" data-trim data-noescape>@Directive({selector: '[bold]'})
export class SomeDirective {
    <span class="fragment" data-fragment-index="3">@HostBinding('class.bold')</span>
    <span class="lightblue fragment" data-fragment-index="3">@Input()</span>
    <span class="lightblue fragment" data-fragment-index="3">bold: boolean = false;</span>
}

@Injectable()
export class <span class="hotpink">SimpleService</span> {
    public shouldBeBold = true;
}

@Component(
    {
        selector: 'app-my-component',
        <span class="fragment" data-fragment-index="1" ><span class="yellow">providers: [<span class="hotpink">SimpleService</span>]</span>,</span>
        template: `
        &lt;style&gt;.bold { font-weight: bold}&lt;/style&gt;
        &lt;h1&gt;My Component&lt;/h1&gt;
        &lt;p <span class="lightblue fragment" data-fragment-index="4">[bold]=&quot;simpleService.shouldBeBold&quot;</span>&gt;This text can be bold (or not)?&lt;/p&gt;`
    }
)
export class MyComponent {
    <span class="yellow">constructor(<span class="fragment" data-fragment-index="2">public readonly simpleService: SimpleService</span>)</span> {}
  }</code></pre>

          <aside class="notes">
            <ul>
              <li>
                Dependency injection: Provider und automatische Injection in den
                Konstruktor
              </li>
            </ul>
          </aside>
        </section>

        <section><h3>Change Detection - Default</h3>
          
          <div class="fragment"><img src="img/Angular_ChangeDetection_default.gif"></div>

          <aside class="notes">
            <ul><li>
              <ul>
                <li>Probleme und Vorteile mit Default</li>
              </ul>
            </li></ul>
          </aside>
        </section>

        <section><h3>Change Detection - OnPush</h3>
          <div class="fragment"><img src="img/Angular_ChangeDetection_OnPush.gif"></div>
          
          <aside class="notes">
            <ul><li>
              <ul>
                <li>Probleme</li>
                <li>Default vs OnPush</li>
                <li>OnPush: </li>
                <li>Mit OnPush:
                  <ul>
                    <li>Änderung an Input: Nur wo sich Objektreferenzen geändert haben, wird der Baum geprüft</li>
                    <li>Vergleich von Objektreferenzen, z.B. Änderung von Daten IM Array oder Objekt fällt nicht auf -> ggf. sowas wie Immutable.js oder Object.assign verwenden</li></li>
                    <li>Input ändert sich: Teilbaum wird geprüft</li>
                    <li>Event: Alles wird geprüft -> manchmal wird was nicht aktualisiert, bis man klickt -> OnPush Problem</li>
                    <li>bei bestimmten Funktionen (setTimeout(), Promise.resolve().then(), obs$.subscribe()) muss man bei OnPush manuell CD auslösen!</li>
                  </ul>
              </ul>
            </li></ul>
          </aside>
        </section>

        <section>
          <h3>ng-content</h3>

          <div class="flex centered">
            <div class="code fragment">
            <pre><code class="typescript" data-trim data-noescape>@Component(
    {
        selector: 'outer-component',
        template: `
        &lt;h1&gt;...&lt;/h1&gt;
        &lt;fancy-modal&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet. 
                Duis a ornare massa.
            &lt;/p&gt;
        &lt;/fancy-modal&gt;
        `
    }
)
export class OuterComponent {/* ... */}
              </code></pre>
            </div>
            <div class="code fragment">
              <pre><code class="typescript" data-trim data-noescape>@Component(
    {
        selector: 'fancy-modal',
        template: `
        &lt;header&gt;...&lt;/header&gt;
        &lt;ng-content&gt;
        
        &lt;/ng-content&gt;
        &lt;footer&gt;...&lt;/footer&gt;
        `
    }
)
export class FancyModal {/* ... */}
              </code></pre>
            </div>

            <svg class="fragment" style="position: absolute;" height="100%" width="100%">
              <defs>
                  <marker id="markerArrow" markerWidth="13" markerHeight="13" refX="2" refY="6"
                         orient="auto">
                      <path d="M2,2 L2,11 L10,6 L2,2" style="fill: #ffff00;" />
                  </marker>
              </defs>
              
              <line x1="495" y1="170" x2="650" y2="145" class="arrow" />

              <rect x="225" y="130" width="270" height="70"
  style="fill:transparent;stroke:yellow;stroke-width:2;fill-opacity:0.1;stroke-opacity:1" />
            </svg>
          </div>

          <aside class="notes">
            <ul>
             
            </ul>
          </aside>

          <aside class="notes">
            <ul>
              <li>Statische Projektion</li>
              <li>
                Zu projizierender Inhalt wird einfach zwischen die Tags des
                Wrapper-Elements geschrieben
              </li>
              <li>
                Element wird an einer Stelle ausgeschnitten und an anderer
                wieder eingefügt
              </li>
              <li>
                Beispiel: Wrapper-Komponente mit Funktionalität, wechselnder
                Inhalt
              </li>
            </ul>
          </aside>
        </section>

        <section>
          <h3 style="font-size: 2rem">
            ng-content mit select
          </h3>

          <!-- Neuer Inhalt: Auflistung Selektoren ohne Code-Beispiele -->
          <div class="code fragment">
            <pre class="fit-content"><code class="typescript" data-trim data-noescape>@Component(
    {
        /* ... */
        template: `
            &lt;ng-content select=&quot;p&quot;&gt;&lt;/ng-content&gt;
            &lt;ng-content select=&quot;.my-class&quot;&gt;&lt;/ng-content&gt;
            &lt;ng-content select=&quot;[attr]&quot;&gt;&lt;/ng-content&gt;
            &lt;ng-content&gt;&lt;/ng-content&gt;
        `
    }
)
export class WithSelectors {/* ... */}
      </code></pre>
    </div>
          
          <aside class="notes">
            <ul>
            
              <li>
                In ng-content kann mit select ein CSS-Selektor angegeben werden,
                der dann nur passende Inhalte in diesem ng-content anzeigt
              </li>
              <li>
                Wenn man keinen "Lumpensammler" ohne select hat, werden ggf.
                nirgends passende Inhalte dann auch nirgends angezeigt
              </li>
            </ul>
          </aside>
        </section>


        <section>
          <h3>
            Angular Lifecycle Hooks
          </h3>

          <table>
            <thead>
              <tr>
                <th>Hook</th>
                <th>Was passiert</th>
              </tr>
            </thead>

            <tbody>
              <tr class="fragment">
                <td>ngOnInit</td>
                <td>Inputs initialisiert, Komponente initialisieren</td>
              </tr>
              <tr class="fragment">
                <td>ngAfterContentInit</td>
                <td>Externer Content wurde projiziert und initialisiert</td>
              </tr>
              <tr class="fragment">
                <td>ngAfterViewInit</td>
                <td>Eigenes Template und Kindkomponenten initialisiert</td>
              </tr>
              <tr class="fragment">
                <td>ngOnDestroy</td>
                <td>Komponente wird gleich abgebaut</td>
              </tr>
            </tbody>
          </table>

          <aside class="notes">
            <ul>
              <li>[Input] zum Übergeben von Daten an Komponenten/Direktiven</li>
            </ul>
          </aside>
        </section>
        <section>
          <h3>Lifecycle Reihenfolge</h3>

          <!-- Zusätzliche Folie: Einfache Verschachtelung Komponenten, console.log, und vielleicht Diagramm? -->

          <div class="flex centered align-centered">
              
              <div class="code fragment">
                <pre class="fit-content"><code class="typescript unlimited-height" data-trim data-noescape>@Component(
    {
        selector: 'outer',
        template: `
            &lt;middle&gt;
                &lt;inner&gt;&lt;/inner&gt;
            &lt;/middle&gt;
        `
    }
)
export class OuterComponent {/* ... */}

@Component(
    {
        selector: 'middle',
        template: `&lt;ng-content&gt;&lt;/ng-content&gt;`
    }
)
export class MiddleComponent {/* ... */}

@Component(
    {
        selector: 'inner',
        template: `&lt;p&gt;...&lt;/p&gt;`
    }
)
export class InnerComponent {/* ... */}
              </code></pre>
            </div>
            <div class="fragment">
              <img src="img/screenshot-content-lifecycle-simple_01.png" />
            </div>
          </div>

          <aside class="notes">
            <ul>
              <li>
                Gefährlich: In Lifecycle-Hooks ChangeDetection mit detectChanges
                erzwingen: Elternkomponenten sind noch nicht fertig
                initialisiert, ggf. unerwartete undefined Werte bei Inputs,
                ViewChild, ContentChild
              </li>
            </ul>
          </aside>
        </section>

<!-- Neue Folie: ContentChild/ContentChildren/QueryList erklären -->

        <section>
          <h3>ContentChildren</h3>

          <blockquote style="width:90%; font-size: 1.2rem;">Use to get the QueryList of elements or directives from the content DOM. Any time a child element is added, removed, or moved, the query list will be updated, and the changes observable of the query list will emit a new value.
<br><br>
            Content queries are set before the ngAfterContentInit callback is called.
<br><br>
            
            Does not retrieve elements or directives that are in other components' templates, since a component's template is always a black box to its ancestors.</blockquote>

            <div class="code fragment">
              <pre class="fit-content"><code class="typescript unlimited-height" style="font-size: 1rem;" data-trim data-noescape>@ContentChild(TagDirective) tagDirective: TagDirective;

@ContentChildren(TagDirective) tagDirectives: QueryList&lt;TagDirective&gt;;
</code></pre></div>
      
<p style="font-size: 1.2rem;">
Doku: <br>
<a href="https://angular.io/api/core/ContentChild">https://angular.io/api/core/ContentChild</a><br>
<a href="https://angular.io/api/core/ContentChildren">https://angular.io/api/core/ContentChildren</a>
</p>
          <aside class="notes">
            <ul>
              <li>Variante, um genau ein Element (das erste gefundene!) zu selektieren: ContentChild</li>
              <li>ContentChild ist erst nach AfterContentInit befüllt, falls
                vorhanden</li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Projektion über mehrere Ebenen</h3>

          <!-- TODO: Fragment Index zum Aufbauen der Ebenen nutzen -->

          <div class="flex">
          <div class="fragment" data-fragment-index="10">
          <pre class="fit-content"><code class="typescript unlimited-height smaller-font" data-trim data-noescape><span class="fragment" data-fragment-index="10">@Component(
    {
        selector: 'layer1',
        template: `
        <span class="yellow">&lt;layer2&gt;</span>
            &lt;div <span class="hotpink">[tag]</span>="'tagged'"&gt;Cool content&lt;/div&gt;
        <span class="yellow">&lt;/layer2&gt;</span>
        `
    }
)
export class FirstLayerComponent {}</span>

<span class="fragment" data-fragment-index="20">@Component(
    {
        selector: '<span class="yellow">layer2</span>',
        template: `
        <span class="lightblue">&lt;layer3&gt;</span>
            &lt;ng-content&gt;&lt;/ng-content&gt;
        <span class="lightblue">&lt;/layer3&gt;`</span>
    }
)
export class SecondLayerComponent {
    <span class="fragment" data-fragment-index="40">@ContentChild(<span class="hotpink">TagDirective</span>) tagDirective!: TagDirective;

    ngAfterContentInit(): void {
        console.log('SecondLayerComponent', this.tagDirective);
    }</span>
}</span>

<span class="fragment" data-fragment-index="30">@Component(
    {
        selector: '<span class="lightblue">layer3</span>',
        template: `&lt;ng-content&gt;&lt;/ng-content&gt;`
    }
)
export class ThirdLayerComponent {
    <span class="fragment" data-fragment-index="40">@ContentChild(<span class="hotpink">TagDirective</span>) tagDirective!: TagDirective;

    ngAfterContentInit(): void {
        console.log('ThirdLayerComponent', this.tagDirective);
    }</span>
}</span>
          </code></pre>
        </div>

<div>
  <img class="fragment" src="img/screenshot-content-children-mehrere-ebenen-browser_01.png" />
  <img class="fragment" src="img/screenshot-content-children-mehrere-ebenen_01.png" />
</div>
</div>

          <aside class="notes">
            <ul>
              <li>Klappt nur bei Weitergabe #1, danach ist es undefined.</li>
            </ul>
          </aside>
        </section>

        <section>
          <h3 style="font-size: 2rem">
            2x ng-content mit gleichem Selektor = 💥
          </h3>

          <div class="flex">
            <div><img src="img/ng-content-projecting-twice_01.png" /></div>

            <div class="flex-column">
              <div class="fragment">
                <img src="img/app-content-twice-both-true_01.png" />
              </div>
              <div class="fragment">
                <img src="img/screenshot-projecting-twice-both-true_01.png" />
              </div>
            </div>

            <div class="flex-column">
              <div class="fragment">
                <img src="img/app-content-twice-second-false_01.png" />
              </div>
              <div class="fragment">
                <img
                  src="img/screenshot-projecting-twice-second-false_01.png"
                />
              </div>
            </div>
          </div>

          <aside class="notes">
            <ul>
              <li>Ausschneiden aus dem DOM, nur 1x möglich</li>
              <li>Letztes ng-content gewinnt</li>
              <li>
                Egal, ob das ng-content zur Laufzeit überhaupt da ist oder
                nicht!
              </li>
            </ul>
          </aside>
        </section>

        <section>
          <!-- Neuer Inhalt: Vereinfachte Code-Beispiele als Code, Rückverweis auf Dependency Injection -->
          <h3 style="font-size: 2rem">Injector (& Change Detection)</h3>

          <div class="flex">
          <div class="fragment">
          <pre class="fit-content"><code class="typescript unlimited-height smaller-font" data-trim data-noescape>@Component(
    {
        selector: 'layer-one',
        template: `&lt;layer-two&gt;<mark>&lt;is-injected&gt;&lt;/is-injected&gt;</mark>&lt;/layer-two&gt;`,
    }
)
export class LayerOneComponent {}

@Component(
    {
        selector: 'layer-two',
        template: `&lt;layer-three&gt;&lt;ng-content&gt;&lt;/ng-content&gt;&lt;/layer-three&gt;`,
        providers: [<mark class="first">FirstService</mark>]
    }
)
export class LayerTwoComponent {}

@Component(
    {
        selector: 'layer-three',
        template: `&lt;ng-content&gt;&lt;/ng-content&gt;`,
        providers: [<mark class="second">SecondService</mark>]
    }
)
export class LayerThreeComponent {}

@Component(
    {
        selector: '<mark>is-injected</mark>',
        template: `&lt;p&gt;Are both services injected here?&lt;/p&gt;`
    }
)
export class IsInjectedComponent {
    constructor(
        @Optional() firstService: <mark class="first">FirstService</mark>,
        @Optional() secondService: <mark class="second">SecondService</mark>
    ) {
        console.log('injected services', {firstService, secondService});
    }
}          </code></pre>
</div>

<div>
          <img class="fragment" src="img/screenshot-injector-mehrere-ebenen_01.png">
          <img class="fragment" src="img/injector-mehrere-ebenen_01.png">
          
        </div>
      </div>

          <aside class="notes">
            <ul>
              <li>
                DOM mit ng-content ist nicht gleich Angular Injector/CD Tree
              </li>
            </ul>
          </aside>
        </section>

        <section>
          <!-- Neuer Inhalt: Diagramm mit aktualisierten Komponentennamen -->
          <h3 style="font-size: 2rem">Injector (& Change Detection)</h3>

          <div class="flex">
          <div class="fragment">
            <pre class="fit-content"><code class="typescript unlimited-height" style="font-size: 0.5rem;" data-trim data-noescape>@Component(
      {
          selector: 'layer-one',
          template: `&lt;layer-two&gt;<mark>&lt;is-injected&gt;&lt;/is-injected&gt;</mark>&lt;/layer-two&gt;`,
      }
  )
  export class LayerOneComponent {}
  
  @Component(
      {
          selector: 'layer-two',
          template: `&lt;layer-three&gt;&lt;ng-content&gt;&lt;/ng-content&gt;&lt;/layer-three&gt;`,
          providers: [<mark class="first">FirstService</mark>]
      }
  )
  export class LayerTwoComponent {}
  
  @Component(
      {
          selector: 'layer-three',
          template: `&lt;ng-content&gt;&lt;/ng-content&gt;`,
          providers: [<mark class="second">SecondService</mark>]
      }
  )
  export class LayerThreeComponent {}
  
  @Component(
      {
          selector: '<mark>is-injected</mark>',
          template: `&lt;p&gt;Are both services injected here?&lt;/p&gt;`
      }
  )
  export class IsInjectedComponent {
      constructor(
          @Optional() firstService: <mark class="first">FirstService</mark>,
          @Optional() secondService: <mark class="second">SecondService</mark>
      ) {
          console.log('injected services', {firstService, secondService});
      }
  }          </code></pre>
  </div>

          <div class="flex-column align-centered">
              <blockquote class="fragment" style="font-size: 0.9rem">
                This is working as expected: <br />
                nodes are only "projected" (moved to a different location) but
                everything else works relative to their source (= before
                projection) location.
              </blockquote>
            <div class="fragment" style="width: 100%">
              <img src="img/injector-tree_01.png" />
            </div>
          </div>

        </div>

          <aside class="notes"></aside>
        </section>

        <section>
          <h3>ng-template</h3>
          <aside class="notes">
            <ul>
              <li>Große Schwester von ng-content</li>
              <li>
                Kein Ausschneiden und Einfügen, sondern dynamisches Erzeugen aus
                Vorlagen
              </li>
              <li>
                Alles, was mit ng-content geht, geht auch mit ng-template, aber
                ggf. mehr Code
              </li>
              <li>Mehr Möglichkeiten als ng-content: Zum Beispiel löst es das Problem mit "kann nicht 2x eingefügt werden"</li>
            </ul>
          </aside>
        </section>

          <!-- Beispiel mit *ngIf und template als else -->

        <section>
          <h3>*ngIf; else</h3>

          <pre class="fit-content"><code class="typescript unlimited-height" data-trim data-noescape>@Component(
    {
        selector: 'ngif-else',
        template: `
            &lt;ng-container <mark>*ngIf</mark>=&quot;!!name; else <mark class="first">noNameGiven</mark>&quot;&gt;
                &lt;p&gt;Hallo, {{name}}!&lt;/p&gt;
            &lt;/ng-container&gt;

            &lt;ng-template <mark class="first">#noNameGiven</mark>&gt;
                &lt;p&gt;Leider wei&szlig; ich deinen Namen noch nicht. Trotzdem: Hallo!&lt;/p&gt;
            &lt;/ng-template&gt;
        `
    }
)
export class NgIfElseComponent {
    @Input() name: string | undefined;
}
</code></pre>

          <aside class="notes">
            <ul>
              <li></li>
              </ul>
          </aside>
        </section>

        <section>
          <h3>ngTemplateOutlet</h3>

          <!-- TODO: Highlighting + Fragments der verschiedenen Dingens -->
          <pre class="fit-content"><code class="typescript unlimited-height" data-trim data-noescape>@Component(
    {
        selector: 'template-outlet',
        template: `
            &lt;ng-template #listItem let-item&gt;
                &lt;li&gt;{{item}}&lt;/li&gt;
            &lt;/ng-template&gt;

            &lt;ul&gt;
                &lt;ng-template *ngFor=&quot;let item of ['Apple', 'Banana', 'Cookie'];&quot; 
                    [ngTemplateOutlet]=&quot;listItem&quot; 
                    [ngTemplateOutletContext]=&quot;{$implicit: item}&quot;&gt;
                &lt;/ng-template&gt;
            &lt;/ul&gt;
        `
    }
)
export class TemplateOutletComponent {}</code></pre>
        </section>

        <section>
          <h3>Mehrere Templates</h3>

          <pre class="fit-content"><code class="typescript unlimited-height" data-trim data-noescape>@Directive({ selector: &quot;ng-template[templateType]&quot; })
export class TemplateTypeDirective {
  @Input() templateType: string = &quot;&quot;;

  constructor(public readonly template: TemplateRef&lt;any&gt;) {}
}
          </code></pre>

          <aside class="notes">
            <ul>
              <li>Bestimmte Sachen werden von Angular automatisch provided und können überall im Konstruktor angefordert werden</li>
              <li>ng-template -> TemplateRef injection</li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Mehrere Templates</h3>

          <pre class="fragment fit-content"><code class="typescript unlimited-height" data-trim data-noescape>@Component({
    selector: &quot;shopping-list&quot;,
    template: `
        &lt;list-with-templates [items]=&quot;shoppingListEntries&quot;&gt;
            <span class="fragment"><span class="hotpink">&lt;ng-template <mark>[templateType]=&quot;'fruit'&quot;</mark> let-cartEntry&gt;
              &lt;li&gt;🍉🍋🍍 {{ cartEntry.name }}&lt;/li&gt;
            &lt;/ng-template&gt;</span>
          
            <span class="yellow">&lt;ng-template <mark>[templateType]=&quot;'sweets'&quot;</mark> let-cartEntry&gt;
                &lt;li&gt;🍩🍪🍬 {{ cartEntry.name }}&lt;/li&gt;
            &lt;/ng-template&gt;</span></span>
        &lt;/list-with-templates&gt;
    `
})
export class ShoppingListComponent {
    shoppingListEntries = [
        { name: &quot;Apple&quot;, type: &quot;fruit&quot; },
        { name: &quot;Banana&quot;, type: &quot;fruit&quot; },
        { name: &quot;Cookie&quot;, type: &quot;sweets&quot; },
        { name: &quot;Pork&quot;, type: &quot;meat&quot; },
      ];
}
          </code></pre>

          <div class="fragment"><img src="img/screenshot-two-list-item-types_01.png"></div>

          <aside class="notes">
            <ul>
              <li></li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Mehrere Templates</h3>

 
          <pre class="fit-content"><code class="typescript unlimited-height" data-trim data-noescape>@Component({
  selector: &quot;list-with-templates&quot;,
  template: `
    &lt;ul&gt;
      &lt;ng-template
      <span class="fragment" data-fragment-index="1">    *ngFor=&quot;let item of <span class="hotpink">items</span>&quot;</span>
      <span class="fragment" data-fragment-index="5">    [ngTemplateOutlet]=&quot;<span class="yellow">templates</span>.get(item.type) || null&quot;
          [ngTemplateOutletContext]=&quot;{ $implicit: item }&quot;</span>
      &gt;
      &lt;/ng-template&gt;
    &lt;/ul&gt;
  `,
})
export class ListWithTemplatesComponent {
  <span class="fragment" data-fragment-index="1">@Input() <span class="hotpink">items</span>: any[] = [];</span>

  <span class="fragment" data-fragment-index="3"><span class="yellow">templates</span> = new Map&lt;string, TemplateRef&lt;any&gt;&gt;();</span>

  <span class="fragment" data-fragment-index="2">@ContentChildren(TemplateTypeDirective) <span class="lightblue">templateTypes</span>!: QueryList&lt;TemplateTypeDirective&gt;;</span>

  <span class="fragment" data-fragment-index="4">ngAfterContentInit(): void {
    this.<span class="lightblue">templateTypes</span>.forEach((templateTypeDirective: TemplateTypeDirective) =&gt; {
        this.<span class="yellow">templates</span>.set(templateTypeDirective.templateType, templateTypeDirective.template);
      }
    );
  }</span>
}
        </code></pre>

        <div class="fragment" data-fragment-index="50" style="position: absolute; right: 10%; top: 20%;" ><img src="img/screenshot-template-selection-works_01.png"></div>

          <aside class="notes">
            <ul>
              <li>Generische Listenkomponente: Weiß nichts von Einkaufslisten oder Früchten oder Süßigkeiten</li>
              <li>Im Automotive-Projekt: Sehr viel Funktionalität, was drin steckt (Alben in Media, Suchergebnisse in Navi, ...) ist egal</li>
              <li>
                Gibt es kein passendes Template, wird stillschweigend einfach
                nichts angezeigt
              </li>
              <li>
                If you are listening to QueryList's observable updates things
                are not as clear cut: updates are often late, and already
                removed things are still showing up - and the order is never
                guaranteed!
              </li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Injector Tree</h3>

          <div><img src="img/ng-template-injector-tree_01.png"></div>

          <aside class="notes">
            <ul>
              <li>Hier wird nichts ausgeschnitten und verschoben</li>
              <li>Injector verhält sich so, wie erwartet</li>
            </ul>
          </aside>
        </section>

        <section>
          <!-- *ngFor zeigen/erklären und default trackBy mit GIF -->
          <h3>Performance: trackBy</h3>
          
          <div class="flex">
          <pre class="fit-content"><code class="typescript unlimited-height" style="font-size: 0.6rem;" data-trim data-noescape>@Component({
    selector: &quot;shopping-list&quot;,
    template: `
        &lt;list-with-templates-trackBy 
          [items]=&quot;shoppingListEntries&quot;&gt;
            ...
        &lt;/list-with-templates-trackBy&gt;
    `
})
export class ShoppingLisWithTrackByComponent {
    <span class="fragment" data-fragment-index="2">constructor(<span class="fragment" data-fragment-index="4">changeDetectorRef: ChangeDetectorRef</span>) {
      timer(2_000, 2_000)
      .subscribe(() =&gt; {
        <span class="fragment" data-fragment-index="3">this.shoppingListEntries = this.shoppingListEntries
                                    .map(x =&gt; Object.assign({}, x));</span>
        <span class="fragment" data-fragment-index="4">changeDetectorRef.markForCheck();</span>
      });
    }</span>
}

@Component({
  selector: &quot;list-with-templates-trackBy&quot;,
  template: `
    &lt;ul&gt;
      &lt;ng-template
        *ngFor=&quot;let item of items; <mark class="fragment" data-fragment-index="1">trackBy: trackByFn</mark>&quot;
        [ngTemplateOutlet]=&quot;templates.get(item.type) || null&quot;
        [ngTemplateOutletContext]=&quot;{ $implicit: item }&quot;
      &gt;
      &lt;/ng-template&gt;
    &lt;/ul&gt;
  `,
})
export class ListWithTemplatesTrackByComponent {
  <span class="fragment" data-fragment-index="1">@Input() <mark>trackByFn</mark>: (index: number, item: any) =&gt; any = (_, item) =&gt; item;</span>
  ...
        </code></pre>

        <div class="fragment" data-fragment-index="10">
          <div><img src="img/screenshot_default-trackBy_01_endless.gif"></div>
          <div><img src="img/screenshot_default-trackBy_debug-tools_01_endless.gif"></div>
        </div>

      </div>

          <aside class="notes">
            <ul>
              <li>trackBy gibt dem ngFor Komparator eine Funktion, mit der dieser rausfinden kann, was sich geändert hat</li>
              <li>Standard trackBy: Objektreferenz</li>
              <li>RxJS + ChangeDetectorRef - notwendiges Drumherum, für Beispiel nicht direkt relevant</li>
              <li>Herkunft ständig neuer Objekte: 
                <ul>
                  <li>Parsed JSON vom Server (z.B. wenn Eintrag dazu kommt wird mit default alles neu gemacht!)</li>
                  <li>Immutable.js</li>
                </ul>
              </li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Performance: trackBy</h3>

          <div class="flex">

          <pre class="fit-content"><code class="typescript unlimited-height" style="font-size: 0.6rem;" data-trim data-noescape>@Component({
    selector: &quot;shopping-list&quot;,
    template: `
        &lt;list-with-templates-trackBy 
          <mark class="fragment" data-fragment-index="1">[trackByFn]=&quot;trackByName&quot;</mark>
          [items]=&quot;shoppingListEntries&quot;&gt;
            ...
        &lt;/list-with-templates-trackBy&gt;
    `
})
export class ShoppingLisWithTrackByComponent {
    <mark class="fragment" data-fragment-index="1">trackByName = (index: number, item: any) =&gt; item.name;</mark>

    constructor(changeDetectorRef: ChangeDetectorRef) {
      timer(2_000, 2_000)
      .subscribe(() =&gt; {
        this.shoppingListEntries = this.shoppingListEntries
                                    .map(x =&gt; Object.assign({}, x));
        changeDetectorRef.markForCheck();
      });
    }
}

@Component({
  selector: &quot;list-with-templates-trackBy&quot;,
  template: `
    &lt;ul&gt;
      &lt;ng-template
        *ngFor=&quot;let item of items; trackBy: trackByFn&quot;
        [ngTemplateOutlet]=&quot;templates.get(item.type) || null&quot;
        [ngTemplateOutletContext]=&quot;{ $implicit: item }&quot;
      &gt;
      &lt;/ng-template&gt;
    &lt;/ul&gt;
  `,
})
export class ListWithTemplatesTrackByComponent {
  @Input() trackByFn: (index: number, item: any) =&gt; any = (_, item) =&gt; item;
        </code></pre>

            <div class="fragment" data-fragment-index="10">
              <div><img src="img/screenshot_custom-trackBy_01_endless.gif"></div>
              <div><img src="img/screenshot_custom-trackBy_debug-tools_01_endless.gif"></div>
            </div>
          </div>

          <aside class="notes">
            <ul>
              <li>Angepasstes trackBy, z.B. auf eine id, oder hier den Namen</li>
              <li>ngFor vergleicht, und nur, wenn sich die Rückgabe der trackBy-Funktion ändert wird die Komponente neu erzeugt</li>
              <li>Änderungen innerhalb der Daten werden trotzdem erkannt (Einschränkung mit OnPush, Objektreferenzen, ChangeDetection beachten)</li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Performance</h3>

          <img class="fragment" src="img/screenshot_opera_flamechart_code-days-programm_01.png" />

          <aside class="notes">
            <ul>
              <li>Browser-Debug-Tools, hier Chromium-basiert abgebildet</li>
              <li>Flame Chart: Horizontal die Zeit, vertikal der Callstack</li>
              <li>Falls Zeit ist: 
                <ul>
                Echte Aufnahme zeigen von https://www.code-days.de/codedays-2021/programm/programm.html reload?</li>
                <li></li>
                  <li>Analyse: Ranzoomen an rechten Block mit den ganzen Forced Reflows: CSS lesen/schreiben nur in requestAnimationFrame und gruppieren gegen Layout Thrashing</li>
                </ul>
              <li>Interaktiv</li>
            </ul>
          </aside>
        </section>
        <section>
          <h3>Performance</h3>

          <img src="img/performance-creating-items_01.png" />

          <aside class="notes">
            <ul>
              <li>Niemals ohne OnPush arbeiten</li>
              <li>Zerstören/Aufbauen teuer: custom trackBy</li>
              <li>Komponenten/Direktiven möglichst schlank halten</li>
              <li>Jede Direktive, jeder Input, jedes ngIf kostet</li>
              <li>rx-angular</li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>Doku-Links</h3>

          <ul>
            <li> <a
              href="https://angular.io/guide/structural-directives#the-ng-template"
              >Offizielle Doku zu ng-template</a
            ></li>
          <li> <a
            href="https://medium.com/claritydesignsystem/ng-content-the-hidden-docs-96a29d70d11b"
            >ng-content: The hidden docs</a
          ></li>
          <li> <a
            href="https://blog.angular-university.io/angular-ng-template-ng-container-ngtemplateoutlet/"
            >Angular ng-template, ng-container and ngTemplateOutlet - The
            Complete Guide To Angular Templates</a
          ></li>
        </ul>
         </section>

        <section>
          <h3>Danke</h3>

          <div class="flex">
            <div><img style="width: 70%;" src="img/mailbox_small_mikaela-wiedenhoff-AwmCuTXL97Q-unsplash.jpg" alt="Mailbox im Grünen"></div>
            <div class="flex-column" style="justify-content: space-between;">
              <table style="font-size: 1.2rem; margin: 1rem;">
                <tbody>
                  <tr>
                    <td>E-Mail</td>
                    <td><a href="mailto:martin.grotz@mathema.de">martin.grotz@mathema.de</a></td>
                  </tr>
                  <tr>
                    <td>Twitter</td>
                    <td><a href="https://twitter.com/mobilgroma">@mobilgroma</a></td>
                  </tr>
                  <tr>
                    <td>github</td>
                    <td><a href="https://github.com/groma84/">groma84</a></td>
                  </tr>
                  <tr>
                    <td>Slides</td>
                    <td><a href="https://github.com/groma84/angular-content-injection-vortrag">auf github</a></td>
                  </tr>
                </tbody>
              </table>

            <div class="flex align-centered centered bg-white" style="margin: 1rem;">
              <img src="img/mathema-logo.svg" alt="Mathema Logo">
              <img src="img/Code_Days_Digital_Logo_2021.png" alt="CodeDaysDigital 2021 Logo">
            </div>
          </div>

            <!-- TODO: auf den Briefkasten schieben und Klebstreifen reinmalen?
            <div>
              <img src="img/grotz-profile.jpg" alt="Bild von Martin Grotz im Anzug">
            </div>
            -->
          </div>
        </section>
      </div>
    </div>

    <script src="js/reveal.js"></script>

    <script>
      // More info about config & dependencies:
      // - https://github.com/hakimel/reveal.js#configuration
      // - https://github.com/hakimel/reveal.js#dependencies
      Reveal.configure({
        transition: "none",
        history: "true",
      });
      Reveal.initialize({
        hashOneBasedIndex: false,
        controls: false,
        slideNumber: "c/t",
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes],
      });
    </script>
  </body>
</html>
