$primary-color: #eb811b;

.highlight {
  color: $primary-color;
}

.reveal blockquote {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: $primary-color;
  padding-left: 1rem !important;
  text-align: left;
}

.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.7rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.reveal pre {
  line-height: 1.1;
  width: 100%;
}

.reveal h3 {
  font-size: 2rem;
}

.bg-white {
  background-color: white;
}

mark {
  background-color: white;
  color: darkblue;
}

mark > .hljs-string {
  background-color: white;
  color: darkblue;
}

mark.first > .hljs-string {
  background-color: hotpink;
}

mark.second > .hljs-string {
  background-color: yellowgreen;
}

span.hotpink,
span.hotpink > .hljs-string,
span.hotpink > .hljs-meta {
  color: hotpink;
}

span.yellow,
span.yellow > .hljs-string,
span.yellow > .hljs-meta{
  color: yellow;
}

span.lightblue,
span.lightblue > .hljs-string,
span.lightblue > .hljs-meta {
  color: lightblue;
}

span.yellowgreen,
span.yellowgreen > .hljs-string,
span.yellowgreen > .hljs-meta {
  color: yellowgreen;
}

span.red,
span.red > .hljs-string,
span.red > .hljs-meta{
  color: red;
}

.reveal code {
  font-size: 0.7rem;
}

.placeholder {
  border: 1px solid red;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
}

.align-centered {
  align-items: center;
}

div.code {
  margin: 1rem 0.5rem;
}

.arrow{
  stroke:rgb(255,255,0);
  stroke-width:2; 
  marker-end:url(#markerArrow)
}

.reveal pre.fit-content {
  width: fit-content;
}

.reveal pre code.unlimited-height {
  max-height: unset;
}

.reveal pre code.smaller-font {
  font-size: 0.55rem;
}