$primary-color: #eb811b;

.highlight {
  color: $primary-color;
}

.reveal blockquote {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: $primary-color;
  padding-left: 1rem !important;
  text-align: left;
}

.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em;
}

.reveal pre {
  line-height: 1.1;
}

mark {
  background-color: white;
  color: darkblue;
}

mark > .hljs-string {
  background-color: white;
  color: darkblue;
}

.reveal code {
  font-size: 0.7rem;
}

.placeholder {
  border: 1px solid red;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}